{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container" id="signup">
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <h1>{% trans "Sign Up" %}</h1>
            <div class="user-container rounded-3 mx-auto shadow mt-4 p-3">
                <form method="post" action="{% url 'account_signup' %}" class="text-right">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.username.id_for_label }}">Username</label><br>
                        {{ form.username }}
                        {% if form.username.errors %}
                        <div class="text-danger">
                            {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.email.id_for_label }}">Email</label><br>
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="text-danger">
                            {{form.email.errors}}
                        </div>
                        {% endif %}
                    </div> 
                    <div class="form-group mb-3">
                        <label for="{{ form.password1.id_for_label }}">Password</label><br>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.password2.id_for_label }}">Password</label><br>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <button class="btn-secondary button shadow mt-3 mb-3 btn" type="submit">{% trans "Sign Up" %}</button>
                    
                    {{ redirect_field }}
                    
                </form>

                <p class="account-p mt-3">{% trans "Already have an account?" %}
                    <br> 
                    <a class="account-link btn-secondary button shadow mt-3 mb-3 btn" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}