{% extends 'base.html' %}
{% load static %}
{% block content%}

{% if previous_login %}
<!-- Shows the last login details of the user date/time/IP address/city/country-->
<div class="text-center px-2">
  <h3>Last Login Location:</h3>
 <p>{{ previous_login }}</p>
{% else %}
    <p>No previous login history available.</p>
  </div>
{% endif %}
<!-- Current location of the user -->
<div class="text-center px-2">
  <h3>Current Location:</h3>
<p>IP: {{details.ip}} - City: {{details.city}} - Country: {{details.country_name}}</p>
</div>

<div id="demo">
<div class="container">
 
  <div id="map"></div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"
  defer></script>
<script>
    function initMap() {
    console.log("Initializing map...");  
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: {{details.latitude}}, lng: {{details.longitude}}},
      zoom: 14,
    });
    infoWindow = new google.maps.InfoWindow();
    
    const locationButton = document.createElement("button");
    locationButton.classList.add("custom-map-control-button");
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  
    locationButton.addEventListener("click", () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent("Location found.");
            infoWindow.open(map);
            map.setCenter(pos);
          },
          () => {
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        handleLocationError(false, infoWindow, map.getCenter());
      }
    });
  }
</script>
{% endblock %}