{% extends 'base.html' %}
{% load static %}
{% url 'account_reset_password' as password_reset_url %}

{% block content %}
<!-- This code appers only once for the registered users, showing the private key-->
{% if profile.raw_key %}
<div class="alert alert-danger" role="alert">
    <p>Your secret key is:</p>
    <p id="private-key"><strong>{{profile.raw_key}}</strong></p>
    <p>Please keep it at safe place and never share it.</p>
    <p><strong>This is the only time you will be able to view your private key. The private key will
            disappear forever once you reload or leave the page.</strong></p>
    <p>To guarantee the security of your account this key cannot be restored.</p>
</div>
{% endif %}
<!-- Profile details -->
<div class="container text-center">
    <div class="grid text-center" style="--bs-gap: .25rem 1rem;">
        <div class="user-container rounded-3 mx-auto shadow mt-4 p-3">

            <p class="fs-5"> Username : {{user}}</p>

            <p class="fs-5">Email : {{user.email}}</p>

            <p class="fs-5">Name: {{user.first_name}} {{user.last_name}}</p>
         
            <p class="fs-5">Email Notifications :{% if profile.notificationEmail %}
                Active
                {% else %}
                Disabled
                {%endif%}
            </p>

            <p class="fs-5">Track Location: {% if profile.showLocation%}
                <a href="{% url 'location' %}" class="btn btn-secondary ">Check Locations</a>
                {% else %}
                Disabled
                {% endif %}
            </p>
            <div class="p-2 g-col-6 fs-1 profile">
                <div class="container text-center">
                    <div class="row align-items-end">
                        <!-- Buttons will be disabled if account suspneded -->
                        {% if profile.suspended %}
                        <div class="col">
                            <a href="{% url 'update_profile' %}" class="btn btn-secondary disabled">Edit Profile</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'delete_profile' %}" class="btn btn-secondary disabled">Delete Profile</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'account_reset_password' %}" class="btn btn-secondary disabled">Reset
                                Password</a>
                        </div>
                        <br>
                        <div class="col">
                            <a href="{% url 'validate_key' %}" class="btn btn-secondary">Unlock Account</a>
                        </div>
                        {% else %}
                        <!-- Working buttons if account is not suspended -->
                         {% if is_validated %}
                        <div class="col">
                            <a href="{% url 'update_profile' %}" class="btn btn-secondary">Edit Profile</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'delete_profile' %}" class="btn btn-secondary">Delete Profile</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'account_reset_password' %}" class="btn btn-secondary">Reset Password</a>
                        </div>
                        {% else %}
                        <!-- Buttons before the pk validation when user logs in -->
                        <div class="col">
                            <a href="{% url 'account_reset_password' %}" class="btn btn-secondary ">Reset Password</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'validate_key' %}" class="btn btn-secondary ">Validate Key</a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}