{% extends 'base.html' %}
{% load static %}
{% url 'account_reset_password' as password_reset_url %}

{% block content %}
<div class="container text-center">
<h2> Username : {{user}}</h2>
<h2>Email Address: {{user.email}}</h2>
{% if profile.raw_key %}
<div class="alert alert-danger" role="alert">
    <p>Your secret key is: {{profile.raw_key}}</p>
    <p>Please keep it at safe place and never share it.</p>
    <p>To guarantee the security of your account this key cannot be restored.</p>
  </div>
    {% endif %}
<h2>Email Notifications :{% if profile.notificationEmail %}
    Active
    {% else %}
    Disabled
    {%endif%}
</h2> 
<h2>Logged in Locations: {% if profile.showLocation%}
    <a href="{% url 'location' %}">Check Locations</a>
    {% else %}
    Disabled
    {% endif %}
</h2>
<a href="{% url 'update_profile' %}">Edit profile</a>
<a href="{% url 'delete_profile' %}">Delete profile</a>
<a href="{% url 'account_reset_password' %}">Reset Password</a>

<br>
<a href="{% url 'validate_key' %}">Click here to validate your private key</a>
</div>

{% endblock content %}