{% extends 'base.html'%}
{% load static %}

{%block content %}
<div class="container text-center">
    <div class="row">
        <form method="POST" action="{% url 'validate_key' %}">
            {% csrf_token %}
            <label for="private_key">Enter your private key:</label>
            <input type="text" name="private_key" id="private_key" required>
            <button type="submit" class="btn btn-secondary">Validate</button>
        </form>

        <div id="response"></div>
    </div>
</div>
<script>
    document.querySelector("form").onsubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const response = await fetch("{% url 'validate_key' %}", {
            method: "POST",
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        });
        const result = await response.json();
        if (result.message = 'Private key is valid.') {
            document.getElementById("response").innerHTML = `<a href="{% url 'process_payment' %}" id="top-up-link">Top Up</a>`
        } else {
            document.getElementById("response").innerText = result.message;
        }
    };
</script>

{% endblock %}