{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="signup">
  <div class="row">
    <div class="col-12 text-center mx-auto">
      <table class="table-responsive">
        <thead>
          <tr>
            <th scope="col">Transaction Type</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
      {% for transaction in transactions %}
      <tbody>
        <tr></th>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.status }}</td>
          <td>
        
      <!-- Button trigger modal -->
      <button type="button" class="btn-secondary button shadow mt-3 mb-3 btn" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}">
        Details
      </button>
    </td>
  </tr>
      <!-- Modal -->
      <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Transaction Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if transaction.type == 'Sent' or transaction.type == 'Received' %}
            <div class="modal-body">
              <p>Transaction Type: {{ transaction.type }}</p>
              <p>Transaction Status: {{ transaction.status }}</p>
              <p>Sending Address: {{ transaction.sending_address }}</p>
              <p>Receiving Address: {{ transaction.receiving_address }}</p>
              <p>Amount: {{ transaction.amount }}</p>
              <p>{{ transaction.date }}</p>
            </div>
            {% else %}
            <div class="modal-body">
              <p>Transaction Type: {{ transaction.type }}</p>
              <p>Transaction Status: {{ transaction.status }}</p>
              <p>Amount: {{ transaction.amount }}</p>
              <p>Transaction Date: {{ transaction.date }}</p>
            </div>
            {% endif %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
    </div>
  </div>
</div>
{% endblock %}