{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12 text-center mx-auto">
        <div class="user-container rounded-3 mx-auto shadow p-3 ">
<form id="withdraw-form" method="POST" action="{% url 'withdraw_fund' %}">
    {% csrf_token %}
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" required>
    <button type="submit" class="btn-secondary button shadow mt-3 mb-3 btn">Withdraw</button>
</form>


{% endblock %}