@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    background-color: #333333 !important;
    color: #FFFFFF !important;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

/* Style for logo letter V overlap the M */
#logoV {
    left: 5.6px !important;
    color: #9d00ff  !important;
    font-weight: bold;
}

.logo-text {
    color:#FFFFFF !important;
    font-size: xxx-large;
}

/* color for a tag in the header nav */

.nav a {
    color: #FFFFFF !important;
}

/* Pushing down the sign up,sign in form */

#signup, #login { 
    margin-top: 10px !important;
}

/* Color of the sign up button */
.button {
    color: #FFFFFF !important;
}