@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    background-color: #333333 !important;
    color: #FFFFFF !important;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

/* Home page background img */
.bg-img {
    background-image: url('/static/images/background.jpg') !important;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.slogan-left {
    font-size: 450%;
    
}

#accordionExample {
    background-color: #333333 !important;
}

.slogan-right {
    color: #333333 !important;
    font-size: 450%;
    
}

/* Style for logo letter V overlap the M */
#logoV {
    left: 5.6px !important;
    color: #706c61 !important;
    font-weight: bold;
}

.logo-text {
    color:#FFFFFF !important;
    font-size: xxx-large;
}

/* Pushing down the sign up,sign in form */

#signup, #login { 
    margin-top: 10px !important;
}

/* Color of the sign up button, the hamburger menu adn the a tags in nav */
.button, .nav a {
    color: #FFFFFF !important;
}

/* Style for Google Maps */
#map {
    height: 500px;  /* Set a fixed height */
    width: 100%;   /* Full width */
    margin-top: 100px;
}
  
.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }

#submit_payment {
    background-color: #333333 !important;
}

.modal-body {
    color: #333333 !important;
}

.errorlist {
    list-style: none;
}

#private-key {
    word-wrap: break-word;
}
/*
@media (min-width: 768px) {
    .slogan-right {
        color: #333333  !important;
    }
*/