{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center mx-auto pb-2">
      <h1 class="mx-auto mb-4 p-2">Frequently Asked Questions</h1>
      <p>Welcome to the MyVault FAQ section! Here you'll find answers to the most commonly asked questions about using
        our platform.</p>
    </div>
    <div class="user-container rounded-3 mx-auto shadow p-3">
      <form method="get" action="{% url 'faq' %}">
        <label for="question">Ask a question:</label>
        <input type="text" name="question" id="question" required>
        <button type="submit" class="btn-secondary button shadow mt-3 mb-3 btn">Ask</button>
      </form>
    </div>
    {% if ai_response %}
    <p>{{ ai_response |linebreaksbr }}</p>
    {% endif %}

    <div class="col mb-3">
      <div>
        <div class="accordion shadow" id="faqAccordion">
          {% for faq in faqs %}

          <!-- FAQ Item -->
          <div class="faq-card card">
            <div class="faq-card-header card-header shadow" id="faqHeading{{ faq.id }}" data-bs-toggle="collapse"
              data-bs-target="#faqCollapse{{ faq.id }}" aria-expanded="true" aria-controls="faqCollapse{{ faq.id }}"
              role="button">
              <h2 class="mb-0 d-flex justify-content-between align-items-center faq-link btn">
                {{ faq.question }}
                <small><i class="fa-solid fa-chevron-down"></i></small>
              </h2>
            </div>
            <div id="faqCollapse{{ faq.id }}" class="collapse" aria-labelledby="faqHeading{{ faq.id }}"
              data-bs-parent="#faqAccordion">
              <div class="card-body pb-2 pl-2">
                {{ faq.answer }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}